body {
  font-family: 'Noto Sans', sans-serif;
}


.footer .icon-link {
    font-size: 25px;
    color: #000;
}

.link-block a {
    margin-top: 5px;
    margin-bottom: 5px;
}

.dnerf {
  font-variant: small-caps;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Creates 4 columns */
  grid-template-rows: repeat(2, auto); /* Creates 2 rows */
  gap: 10px; /* Space between grid items */
}

.grid-item video {
  width: 100%; /* Make video fill its container */
  height: auto; /* Maintain aspect ratio */
}

.results-carousel .item {
  display: flex; /* Enable Flexbox */
  flex-direction: column; /* Stack items vertically */
  align-items: center; /* Center items horizontally */
  justify-content: center; /* Center items vertically */
  text-align: center; /* Center the text */
}

.results-carousel .item img {
  display: block; /* Ensure images are block-level */
  margin: 0 auto; /* Center images */
  max-width: 100%; /* Adjust the size */
  height: auto; /* Maintain aspect ratio */
  margin-bottom: 10px; /* Space between images */
}





.side-by-side-images {
  display: flex; /* Enable Flexbox */
  justify-content: center; /* Center items horizontally */
  align-items: center; /* Align items vertically in the center */
}

.side-by-side-images img {
  width: calc(33% - 10px); /* Adjusted width */
  height: 750px; /* Fixed height */
  object-fit: cover; /* Ensures the image covers the area without distortion */
  margin-right: 10px; /* Space between the images */
}

.side-by-side-images img:last-child {
  margin-right: 0; /* Removes margin from the last image */
}

.side-by-side-images2 {
  display: flex; /* Enable Flexbox */
  justify-content: center; /* Center items horizontally */
  align-items: center; /* Align items vertically in the center */
}


.side-by-side-images2 img {
  width: 700px; /* Fixed width */
  height: 550px; /* Fixed height */
  object-fit: cover; /* Ensures the image covers the area without distortion */
  margin-right: 10px; /* Space between the images */
}

.side-by-side-images2 img:last-child {
  margin-right: 0; /* Removes margin from the last image */
}

.spacing {
  margin-top: 20px; /* Adjust the space as needed */
}
.video-title {
  text-align: center;
  color: gray;
  font-weight: bold;
  font-size: 1.2em; /* Smaller font size */
  margin-bottom: 10px; /* Space between title and video */
}
.teaser .hero-body {
  padding-top: 0;
  padding-bottom: 5rem;
}

.teaser {
  font-family: 'Google Sans', sans-serif;
}


.publication-title {
}

.publication-banner {
  max-height: parent;

}

.publication-banner video {
  position: relative;
  left: auto;
  top: auto;
  transform: none;
  object-fit: fit;
}

.publication-header .hero-body {
}

.publication-title {
    font-family: 'Google Sans', sans-serif;
}

.publication-authors {
    font-family: 'Google Sans', sans-serif;
}

.publication-venue {
    color: #555;
    width: fit-content;
    font-weight: bold;
}

.publication-awards {
    color: #ff3860;
    width: fit-content;
    font-weight: bolder;
}

.publication-authors {
}

.publication-authors a {
   color: hsl(204, 86%, 53%) !important;
}

.publication-authors a:hover {
    text-decoration: underline;
}

.author-block {
  display: inline-block;
}

.publication-banner img {
}

.publication-authors {
  /*color: #4286f4;*/
}

.publication-video {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;

    overflow: hidden;
    border-radius: 10px !important;
}

.publication-video iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.publication-body img {
}

.results-carousel {
  overflow: hidden;
}

.results-carousel .item {
  margin: 5px;
  overflow: hidden;
  padding: 20px;
  font-size: 0;
}

.results-carousel video {
  margin: 0;
}

.slider-pagination .slider-page {
  background: #000000;
}

.eql-cntrb { 
  font-size: smaller;
}



